<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload and Download</title>
  <!-- Include Ant Design CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/antd/dist/antd.css">
  <style>
    /* Custom CSS styles */
    body {
      font-family: 'Roboto', sans-serif;
      padding: 20px;
      background: linear-gradient(135deg, #00b0ff, #00ff95);
      animation: gradientAnimation 10s ease infinite alternate;
    }

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }

      100% {
        background-position: 100% 50%;
      }
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .ant-list-bordered {
      border: none;
    }

    .ant-list-item {
      border-bottom: 1px solid #f0f0f0;
    }

    .ant-list-item:last-child {
      border-bottom: none;
    }

    .ant-typography-link {
      color: #1890ff;
    }

    .logo {
      width: 100px; /* Adjust the size of the logos as needed */
      margin: 0 20px; /* Adjust spacing between logos */
    }
  </style>
</head>

<body>
  <div class="container">
    <h1> Nginx and Apache Upload/Download </h1>
    <div class="logo-container">
      <img src="https://1000logos.net/wp-content/uploads/2021/11/Docker-Logo.png" alt="Docker Logo" class="logo">
      <img src="https://download.logo.wine/logo/Nginx/Nginx-Logo.wine.png" alt="Nginx Logo" class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Apache_Software_Foundation_Logo_%282016%29.svg/1280px-Apache_Software_Foundation_Logo_%282016%29.svg.png" alt="Apache Logo" class="logo">
    </div>
    <h1> URL, Port:5000/web (Apache) , Port:5001 (Nginx) </h1>
    <h1>File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="file" class="ant-input">
      </div>
      <button type="submit" class="ant-btn ant-btn-primary">Upload</button>
    </form>

    <h1>File Download</h1>
    <ul class="ant-list ant-list-bordered file-list">
      <% /* List uploaded files for download */ %>
        <% for(let file of files) { %>
          <li class="ant-list-item">
            <a href="/download/<%= file %>" class="ant-typography ant-typography-link">
              <%= file %>
            </a>
            <form action="/delete/<%= file %>" method="get" class="delete-form" style="display: inline;">
              <button type="submit" class="ant-btn ant-btn-danger delete-btn">Delete</button>
          </form>
          </li>
          <% } %>
    </ul>

    <h1>Upload Logs</h1>
    <ul class="ant-list ant-list-bordered">
      <% uploadLogs.forEach(uploadLog=> { %>
        <li class="ant-list-item">File: <%= uploadLog.filename %> - Time: <%= uploadLog.timestamp %> - Duration: <%=
                uploadLog.duration %> ms</li>
        <% }); %>
    </ul>

    <h1>Download Logs</h1>
    <ul class="ant-list ant-list-bordered">
      <% downloadLogs.forEach(downloadLog=> { %>
        <li class="ant-list-item">File: <%= downloadLog.filename %> - Time: <%= downloadLog.timestamp %> - Duration: <%=
                downloadLog.duration %> ms</li>
        <% }); %>
    </ul>
  </div>

  <!-- Include Ant Design JS (Optional) -->
  <script src="https://cdn.jsdelivr.net/npm/antd/dist/antd.js"></script>
  <script>
    // JavaScript to confirm file deletion
    const deleteForms = document.querySelectorAll('.delete-form');
    deleteForms.forEach(form => {
      form.addEventListener('submit', (event) => {
        const confirmation = confirm('Are you sure you want to delete this file?');
        if (!confirmation) {
          event.preventDefault(); // Prevent form submission if deletion is not confirmed
        }
      });
    });
  </script>
</body>

</html>